header,
main,
footer {
  padding-left: 240px;
}

::-webkit-input-placeholder {
  color: #777;
}
::-moz-placeholder {
  color: #777;
}
:-ms-input-placeholder {
  color: #777;
}
:-moz-placeholder {
  color: #777;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
main {
  min-height: 60vh;
  padding-top: 45px;
}
#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #9a9a9a;
  font-size: 12px;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}

.add_league_title {
  text-align: left;
}
.add_league_title button.submit_form {
    margin-left: 3rem;
}
.custom-table thead {
    border-bottom: 0;
    /* background: radial-gradient(circle at 50% 55%,#cc1a1a,#c70101),linear-gradient(#c70101,#e60000); */
    color: #fff;
    background-color: #05233c;
}

.custom-table thead th {border-radius: 0 !important;}
 
.custom-table th:first-child, .custom-table tr td:first-child {
    padding-left: 20px;
}
.custom-table td a {
    font-size: 18px;
    color: #1a1a1a;
}
.man-utd-black {
    background: #FF9800;
}

.man-utd-black a {
    color: #fff;
    font-size: 14px;
}

.header-80 {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.header-80 .dropdown-button {
    display: flex;
    height: 50px;
    align-items: center;
}

.header-80 .dropdown-content {
    top: 50px !important;
    width: 150px !important;
    background: #000;
    height: 45px;
    overflow: hidden;
    outline: none;
}

.header-80 .dropdown-content li a {
    overflow: hidden;
    color: #fff !important;
    font-size: 14px;
}

.header-80 .dropdown-content li:hover {
    background: #222 !important;
}
.alert {
    display: block;
    width: 100%;
    float: left;
}

.alert span.error p {
    color: #f32f2f;
    background: #ffe5e5;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #ffc3c3;
}

.alert span.success p {
    color: #21a026;
    background: #d5ffd7;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 4px;
    border: 1px solid #9ed2a1;
} 
.upload-logo .btn {
    height: 36px;
    line-height: 36px;
}

.upload-logo .btn span {
    font-size: 14px;
}

.upload-logo .upload_logo_home {
    background: #cc1919;
}

.upload-logo input.file-path {
    height: 36px;
}
.select-wrapper .caret {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 0;
    fill: rgba(0,0,0,0.87);
}
.custom-table td.flex_flag {
    display: flex;
    align-items: center;
}

.custom-table td.flex_flag span.gdlr-team-flag {
    max-width: 35px;
    margin-right: 10px;
}

.custom-table td.flex_flag span.gdlr-team-flag img {
    width: 100%;
}
.error {
    color: red;
}
td.avatar_col {
    width: 50px;
    display: block;
}

td.avatar_col img {
    width: 100%;
}

.dropdown-content.select-dropdown {
    top: 85px !important;
    z-index: 9999;
}
.paging {
    display: block;
    text-align: left;
    margin: 10px 0;
    position: relative;
}

.paging strong, .paging a {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin: 0 5px 0 0;
    color: #222;
    padding: 0 12px;
    background: #f6f6f6;
    min-width: 25px;
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #eee;
}

.paging strong {
    border-color: #ff9800;
    background-color: #ff9800;
    color: #fff;
}