
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}
p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}
a {
  color: #0f5a98;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: none;
}

body.custom-background {
  background-image: url(../images/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9999;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#preloader #status {
  width: 350px;
  height: 350px;
  background-image: url(../images/preloader.gif);
  background-size: contain;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
} 
.site {
  overflow: hidden;
}
@media screen and (min-width: 1025px) {
  .site-header, .site-content, .site-footer, .site-info {
    width: 1170px;
  } 
}

@media screen and (min-width: 1025px) {
  .site-header, .site-content, .site-footer, .site-info {
    margin: 0 auto;
    width: 1170px;
    max-width: 100%;
  }
}

.header-area-custom {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1025px) {
  .header-area-custom .site-branding {
    padding: 1.75em;
  }
  .header-area-custom .site-branding {
    padding: 1rem 1.75em;
    min-height: 120px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
  } 
  .site-branding {
    margin: 2.2em auto 0;
  }

  .site-branding, .site-widgets {
    width: auto;
  }
}
@media screen and (min-width: 601px) {
  .site-branding {
    padding: 1.75em 2%;
    text-align: left; 
    background-size: cover;
    text-align: center;
    clear: both;
  }
}
.site-branding {
  /* background-image: radial-gradient(circle at 50% 55%,#f44881,#cf1060),linear-gradient(#d6076c,#ff39d3); */
  background-color: #05233c;
}
.site-logo {
  display: inline-flex;
  margin-right: 15px;
}
.site-logo img {
  max-width: 200px;
  max-height: 110px;
}
.site-identity {
  display: flex;
  padding: 0 2rem;
}

.site-identity hgroup {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.site-identity hgroup h1 {
  margin: 0;
  font-size: 36px;
}

.site-identity hgroup h1 a {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.site-identity hgroup h4 {
  display: block;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  margin: 5px 0;
}
.site-menu {
  position: relative;
  width: 100%;
  padding: 0;
  max-width: 1170px;
  display: table;
}

.site-menu nav {
  height: 40px;
  line-height: 40px;
  background: #000000;
}

.menu-toggle {
  display: none;
}

.site-menu ul a {
  transition: .3s;
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid #000;
  outline: none;
  height: 40px;
  line-height: 40px;
}

.site-menu ul li.active a {
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}
.site-menu nav ul li a:hover {
  background-color: #ff9900;
  color: #fff;
  border-color: #ff9900;
} 
.site-menu ul a:focus {
  color: #fff;
}
.site-content {
  background: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
}
@media screen and (min-width: 601px) {
  .content-area, .widecolumn {
    width: 66%;
    padding: 20px;
    clear: both;
    box-shadow: 1px 0 0 #e0e0e0;
    float: left;
  }
  .content-area {
    min-height: 500px;
  }
}

.homepage-widgets {
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.sp-widget-align-left, .sp-widget-align-right {
  width: 50%;
  display: inline-flex;
  padding: 0 10px;
}

.widget {
  margin: 0 0 20px;
  clear: both;
  width: 100%;
}


.widget_sportspress h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

h4.sp-table-caption {
  height: 55px;
  background: #0f5a98;
  color: #fff;
  padding: 0 10px;
  line-height: 48px;
  margin-bottom: 0;
  border-top: 6px solid #4fa7e1;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.sp-template-event-blocks {
  display: block;
  background: #f1f1f1;
}
.sp-data-playlist tr {
  background: #05233c;
  border: 0;
}

.sp-data-playlist tr td, .sp-data-playlist tr td a {
  border-radius: 0;
  color: #fff;
}

.sp-data-playlist tr:nth-child(odd) {
  background: #093356;
}

.content-area-right-sidebar {
  width: 34%;
  float: left;
  padding: 20px;
  position: relative;
}

.sp-data-playlist thead tr {
  background: #f90 !important;
}
.sp-data-playlist th, .sp-data-playlist td {
  padding: 15px;
  border-radius: 0;
  color: #fff;
}
.sp-data-playlist td:last-child {
  text-align: right;
}
#time_coundount {

}

#time_coundount span {

}
.match-comming {
  position: relative;
  min-height: 160px;
}
.sp-name-club {
  display: block;
  margin: 20px 0 10px;
}

.sp-name-club span {
  display: inline-block;
}

span.home-team {
  width: calc(50% - 20px);
  font-weight: 600;
  font-size: 20px;
}
.player-table-list {
  display: block;
  position: relative;
}

.player-table-list ul {
  align-content: stretch;
  display: flex;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  align-items: start;
  justify-content: flex-start;
}

.player-table-list ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin: 0;
  width: 25%;
}

.player-table-list ul li a {
  display: block;
  position: relative;
  width: 100%;
}

.player-table-list ul li.view_all {
  width: 100%;
  text-align: right;
  padding: 20px 0;
}

.player-table-list ul li.view_all a {
  font-size: 16px;
  color: #0f5a98;
}

.player-item {
  display: block;
  position: relative;
}

.player-img {
  display: block;
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.player-img img {
  width: 100%;
  max-width: 232px;
}

.player-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  color: #fff;
  height: 50px;
  display: flex;
}

.player-squad {
  width: 50px;
  background: #05233c;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #ff9900;
}

.player-name {
  width: calc(100% - 50px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
span.position_desc {
  position: absolute;
  bottom: 60px;
  min-width: 50px;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.GK { 
  background-color: #FFEB3B;
}
.DF {
  background-color: #00BCD4;
  color: #fff !important;
}
.CM, .CDM, .LM, .RM, .CAM {
  background-color: #4CAF50;
  color: #fff !important;
}
.ST, .LW, .RW {
  background-color: #F44336;
  color: #fff !important;
}

.site-footer {
  position: relative;
  display: block;
}

.footer-content {
  display: block;
  position: relative;
  background: #05233c;
  color: #fff;
  padding: 30px 20px;
}

.widget-footer {
  display: block;
  position: relative;
}

.footer-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.about-info {
  font-size: 13px;
  display: block;
}

.ab-addr {
  display: block;
  margin-bottom: 15px;
}

.ab-addr label {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.ab-addr p {
  font-size: 13px;
}
.footer-coppyright {
  display: block;
  padding: 7px 0;
  color: rgba(255, 255, 255, 0.66);
  font-size: 11px;
  margin-bottom: 15px;
}
.bg-img {
  height: 160px;
  display: block;
  width: 100%;
  background: url(../../../uploads/logo_team/logo-cati.png) #4fa7e1;
  background-size: 120px;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.lined {
  margin: 0;
}
.panel.lined {
  box-shadow: none;
  padding: 10px 0;
  position: relative;
}

.panel-content {
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  padding-right: 10px;
}

.lined:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ff9900;
}

h1.vc_custom_heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

h1.vc_custom_heading span {
  color: #ff9900;
}
.cati-images {
  position: relative;
}

.slider-images {
  margin-bottom: 20px;
}

.posts-list-wrapper {
  position: relative;
}
.entry.home-next-match {
  text-align: center;
  overflow: hidden;
}
.entry.home-next-match .entry-data .match-time-left {
  position: relative;
  line-height: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}
.entry.home-next-match .entry-data .match-time-left::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: -1000px;
  right: -1000px;
  background-color: #f2f2f2;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.entry.home-next-match .entry-data .match-time-left .time-left {
  position: relative;
}
.entry.home-next-match .entry-data .match-time-left .time-left .time {
  line-height: 47px;
}
.time-left .time {
  display: inline-block;
}
.time-left .time > div {
  float: left;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}
.entry.home-next-match .entry-data .match-time-left .time-left .time .count {
  color: #ff9900;
}
.time-left .time > div span.count {
  color: #ff9900;
}
.entry.home-next-match .entry-data .match-time-left .time-left .time .title {
  color: #145a94;
}
.time-left .time > div span.title {
  margin-left: 5px;
}
.entry.home-next-match .entry-data .match-time-left .time-left .time > div::after {
  color: #ff9900;
}
.time-left .time > div::after {
  content: ':';
  margin: 0 10px;
  color: #a6a6a6;
}
.time-left .time > div:last-child::after {
  content: none;
}
.entry.home-next-match .entry-data .match-info, .latest-match .match-info {
  color: #363533;
  margin: 20px 0;
  padding: 0;
  line-height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-display: flex;
  -khtml-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -khtml-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -khtml-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -khtml-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.entry.home-next-match .entry-data .match-info > * {
  float: left;
}
.entry.home-next-match .entry-data .match-info .team1,
.latest-match .team1,
.entry.home-next-match .entry-data .match-info .team2,
.latest-match .team2 
{
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-display: flex;
  -khtml-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -khtml-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
}
.entry.home-next-match .entry-data .match-info .team1 .logo,
.entry.home-next-match .entry-data .match-info .team2 .logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.entry.home-next-match .entry-data .match-info .team1 .name,
.entry.home-next-match .entry-data .match-info .team2 .name {
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 5px;
  line-height: 1;
  font-weight: 600;
}
.entry.home-next-match .entry-data .match-info .team1 {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -khtml-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.entry.home-next-match .entry-data .match-info .team1 .logo {
  margin-left: 10px;
}
.entry.home-next-match .entry-data .match-info .team1 .name {
  text-align: right;
}
.entry.home-next-match .entry-data .match-info .team2 {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -ms-box-direction: reverse;
  -o-box-direction: reverse;
  box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -khtml-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.entry.home-next-match .entry-data .match-info .team2 .logo {
  margin-right: 10px;
}
.entry.home-next-match .entry-data .match-info .team2 .name {
  text-align: left;
}
.entry.home-next-match .entry-data .match-info > .vs {
  font-weight: 600;
  margin: 0 15px;
  padding: 0 10px;
  color: #f90;
  font-size: 15px;
  text-transform: uppercase;
  background-color: transparent;
  display: inline-block;
}
.entry.home-next-match .entry-data .match-info .match-score {
  margin: 0 15px;
  padding: 0 10px;
  color: #363533;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #ffc722;
  display: inline-block;
}
.entry.home-next-match .entry-data .match-info .match-score > *,
.entry.home-next-match .entry-data .match-info .match-score > .data > * {
  float: left;
}
.entry.home-next-match .entry-data .match-info .match-score .score {
  display: none;
}
.entry.home-next-match .entry-data .match-info .match-score .data .team1::after {
  content: ':';
  margin: 0 3px;
}
.entry.home-next-match .entry-data .match-info .match-score .data .vs {
  display: none;
}
@media (max-width: 600px) {
  .entry.home-next-match .entry-data .match-info .team1 .name,
  .entry.home-next-match .entry-data .match-info .team2 .name {
    width: 75px;
  }
  .entry.home-next-match .entry-data .match-info .team1 .logo {
    display: none;
  }
  .entry.home-next-match .entry-data .match-info .team2 .logo {
    display: none;
  }
}
.entry.home-next-match .entry-data .match-date-time {
  font-size: 14px;
  color: #777;
}
.entry.home-next-match .entry-data .match-date-time .date::after {
  content: '|';
  margin: 0 5px;
}
.entry.home-next-match .entry-data .match-address {
  font-size: 14px;
  color: #777;
}
.posts-list-wrapper.home-match-mini .posts-list {
  min-height: 305px;
  background-color: #363533;
}
.entry.home-match-mini {
  background-color: #05233c;
  color: #ffffff;
  border-bottom: 1px solid #05233c;
}
.entry.home-match-mini:hover {
  background-color: #05233c;
}
.entry.home-match-mini .entry-data {
  line-height: 42.5px;
}
.entry.home-match-mini .entry-data .match-date-time {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ff9900;
}
.entry.home-match-mini .entry-data .match-date-time:last-child {
  border: 0;
}
.entry.home-match-mini .entry-data .match-date-time .date {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.entry.home-match-mini .entry-data .match-date-time .time {
  display: none;
}

.entry.home-match-mini .entry-data .match-info > * {
  float: left;
}
.entry.home-match-mini .entry-data .match-info > .team1 .logo,
.entry.home-match-mini .entry-data .match-info > .team2 .logo {
  background-position: center;
  background-size: 29.75px auto;
  background-repeat: no-repeat;
  width: 42.5px;
  height: 42.5px;
}
.entry.home-match-mini .entry-data .match-info > .team1 .name,
.entry.home-match-mini .entry-data .match-info > .team2 .name {
  text-transform: uppercase;
}
.entry.home-match-mini .entry-data .match-info .team1 .logo {
  float: left;
  margin-right: 10px;
}
.entry.home-match-mini .entry-data .match-info .team1 .name {
  float: left;
}
.entry.home-match-mini .entry-data .match-info .team2 .logo {
  float: right;
  margin-left: 10px;
}
.entry.home-match-mini .entry-data .match-info .team2 .name {
  float: right;
}
.entry.home-match-mini .entry-data .match-info > .vs {
  margin: 0 10px;
  color: #ff9900;
  font-size: 12px;
  text-transform: uppercase;
}
.entry.home-match-mini .entry-data .match-info .match-score {
  margin: 0 10px;
  color: #ff9900;
}
.entry.home-match-mini .entry-data .match-info .match-score > *,
.entry.home-match-mini .entry-data .match-info .match-score > .data > * {
  float: left;
}
.entry.home-match-mini .entry-data .match-info .match-score .score {
  display: none;
}
.entry.home-match-mini .entry-data .match-info .match-score .data .team1::after {
  content: ':';
  margin: 0 3px;
}
.entry.home-match-mini .entry-data .match-info .match-score .data .vs {
  display: none;
}
.entry.home-match-mini .entry-data .match-info::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  .entry.home-match-mini .entry-data .match-info > .team1 .logo,
  .entry.home-match-mini .entry-data .match-info > .team2 .logo {
    display: none;
  }
  .entry.home-match-mini .entry-data .match-info > .vs {
    margin: 0 5px;
  }
  .entry.home-match-mini .entry-data .match-info .match-score {
    margin: 0 5px;
  }
}
.entry.home-match-mini::after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 600px) {
  .entry.home-match-mini .entry-data .match-date-time {
    width: 30%;
  }
  .entry.home-match-mini .entry-data .match-info {
    width: 70%;
  }
} 

.latest-match {
  position: relative;
  margin-top: 30px;
}

.latest-match:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ff9900;
}

.entry-header h2.entry-title {
  display: inline-block;
  margin: 0;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 40px;
  text-transform: uppercase;
  line-height: 1.4;
  transform: translateY(-25px);
} 

.latest-match-result {
  position: relative;
  text-align: center;
} 

.entry-header h2.entry-title a {
  color: #222;
}
.latest-match .match-info:before {
  position: absolute;
  content: '';
  left: -20px;
  right: -20px;
  top: 50%;
  height: 120px;
  background-color: #f9f9f9;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-left-color: #fff;
}

.latest-match .team1, .latest-match .team2, .latest-match .match-score {
  position: relative;
}
.latest-match .team1, .latest-match .team2 {
  width: calc(50% - 100px);
  justify-content: flex-end;
}
.latest-match-result .match-score {
  margin: 0 30px;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  position: relative;
}
.latest-match-result .match-score:before {
  position: absolute;
  content: '';
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  border: 1px solid #ff9900;
}

.latest-match-result .score {
  line-height: 1.4;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  font-weight: 700;
  color: #354756;
  top: -25px;
}

.latest-match .data {
  position: relative;
  background-color: #363533;
  padding: 10px 30px;
  overflow: hidden;
  font-size: 25px;
  width: auto !important;
  justify-content: center !important;
}

.data.team1:before {
  position: absolute;
  content: '';
  left: -100%;
  right: 50%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-30deg);
  -khtml-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
  background-color: #ff9900;
}

.latest-match-result .vs {
  margin: 0 30px;
  position: relative;
  color: #363533;
  z-index: 1;
  font-size: 11px;
  width: 30px;
  text-align: center;
}

.latest-match-result .vs:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #ff9900;
  z-index: -1;
}

.match-date-time {
  position: relative;
  z-index: 1; 
  color: #777;
}

.latest-match .name {
  font-size: 16px;
  text-transform: capitalize;
}
.entry-summary {
  margin: 60px 0 30px;
  padding: 0 30px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  color: #777;
}

.entry-header {
  position: relative;
}

.entry-footer {
  z-index: 1;
}

.wpb_wrapper {
  display: block;
  margin-bottom: 40px;
}

.entry-more {
  display: inline-block;
  background: #fff;
  padding: 0 50px;
  transform: translateY(15px);
}

.entry-more a.more-link {
  text-transform: uppercase;
  background-color: #ff9900;
  color: #fff;
  outline: 0;
  outline-offset: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -khtml-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-touch-action: manipulation;
  -khtml-touch-action: manipulation;
  -moz-touch-action: manipulation;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  margin: 0;
  text-decoration: none;
  box-shadow: none;
  padding: 8px 50px;
  border: none;
  position: relative;
}

.entry-more a.more-link:hover {
  background-color: #05233c;
  color: #ff9900;
}

.entry-more a.more-link:before {
  position: absolute;
  content: '';
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  border: 1px solid #ff9900;
}
.entry.latest-match-result .entry-data .match-info .team1 .logo, .entry.latest-match-result .entry-data .match-info .team2 .logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  position: relative;
}

.entry.latest-match-result .entry-data .match-info .team1 .logo {
  margin: 0 20px;
}

.entry.latest-match-result .entry-data .match-info .team2 .logo {
  margin: 0 20px;
}
.entry.latest-match-result .entry-data .match-info .team2 {
  flex-direction: row-reverse;
}
.height50 {
  height: 85px;
  display: flex;
  flex-direction: column;
}
.match-info {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}
.time-match {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #9a9a9a;
}

.time-match span {
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.time-match span i, .stadium_match i {
  display: inline-block;
  margin-right: 5px;
  color: #ff9900;
}

.stadium_match {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9a9a9a;
}
.man_of_match {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.man_of_match img {
  width: 100%;
}
.gdlr-item {
  margin: 0;
  min-height: 1px;
  padding: 50px 20px;
}
.event-calendar {
  margin-top: 30px;
  padding-top:30px;
  border-top: 1px solid #eee;
}
.gdlr-result-by-month-year-wrap {
  margin-bottom: 55px;
}
.gdlr-result-by-month-year-wrap .gdlr-result-by-month-header:first-child {
  margin-top: 0px;
}
.gdlr-result-by-month-header.gdlr-first {
  margin-top: 0px;
}
.gdlr-item-title-wrapper .gdlr-item-title, .gdlr-result-by-month-header {
  color: #1e1e1e;
  border-color: #1e1e1e;
}
.gdlr-result-by-month-header {
  margin: 55px 0px 30px;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
}
.gdlr-item-title-wrapper.pos-left .gdlr-item-title:before, .gdlr-result-by-month-header:before {
  color: #c5c5c5;
}
.gdlr-result-by-month-header:before {
  content: "ll";
  letter-spacing: 1px;
  margin-right: 10px;
  text-transform: none;
  font-weight: 500;
  font-family: sans-serif;
}

.small-result-item:nth-child(even), .result-in-month:nth-child(odd) {
  background-color: #f3f3f3;
}
.gdlr-result-by-month-wrapper .result-in-month {
  padding: 20px 30px;
  font-size: 15px;
}
.gdlr-result-by-month-wrapper .gdlr-result-date {
  display: inline-block;
  width: 20%;
  margin-right: 2%;
  font-style: italic;
}
.gdlr-result-by-month-wrapper .gdlr-result-match-team-wrapper {
  display: inline-block;
  width: 56%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.gdlr-result-by-month-wrapper .gdlr-result-match-team.gdlr-left {
  margin-right: 2.5%;
  text-align: right;
}
.gdlr-result-by-month-wrapper .gdlr-result-match-team {
  display: inline-block;
  width: 40%;
}
.gdlr-team-flag { 
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin-right: 12px; 
  max-width: 35px;
}
.gdlr-team-flag img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.gdlr-result-by-month-wrapper .gdlr-result-match-versus {
  margin: 0px 2.5%;
  padding: 0px 3px;
  font-weight: normal;
}
.gdlr-result-by-month-wrapper .gdlr-result-match-team.gdlr-right {
  margin-left: 2.5%;
  text-align: left;
}
.gdlr-result-by-month-wrapper .gdlr-result-match-team {
  display: inline-block;
  width: 40%;
}
.gdlr-right .gdlr-team-flag {
  margin-left: 12px;
  margin-right: 0px;
}
.gdlr-result-by-month-wrapper .gdlr-result-read-more {
  display: inline-block;
  width: 19%;
  margin-left: 2%;
  text-align: right;
  font-size: 13px;
  font-style: italic;
}
.clear {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  zoom: 1;
}
.equinox .calendar-actions button {
  border: 0;
  height: 35px;
  padding: 0 12px;
  color: #fff;
  outline: none;
  border-radius: 3px;
  background: #05233c;
}

.equinox .calendar-actions button.today {
  background: orange;
}
.equinox .calendar-header {
  background: #05233c !important;
  border-radius: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
}

.equinox .calendar-header div {
  float: none;
}

.equinox .calendar-header:before, .equinox .calendar-header:after {
  display: none !important;
}

.equinox .calendar-header .month-label {
  font-size: 15px;
}
.paging {
  display: block;
  margin: 10px 0;
  position: relative;
  text-align: center;
  padding: 10px;
}

.paging strong, .paging a {
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin: 0 5px 0 0;
  color: #222;
  padding: 0 12px;
  background: #f6f6f6;
  min-width: 25px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid #eee;
}

.paging strong {
  border-color: #ff9800;
  background-color: #ff9800;
  color: #fff;
}
.mc-carousel .item .overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1; 
}


.mc-carousel .item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    width: calc(33% - 10px);
    margin: 0 5px 10px;
}

.mc-carousel .item .overlay, .mc-carousel .item:hover .overlay, .mc-carousel .item .overlay:after, .mc-carousel .item:hover .overlay:after, .transition--on {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.mc-carousel .overlay:before, .mc-carousel .overlay:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mc-carousel .item .overlay, .mc-carousel .item:hover .overlay, .mc-carousel .item .overlay:after, .mc-carousel .item:hover .overlay:after, .transition--on {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.mc-carousel .overlay:after {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
}
.mc-carousel .overlay:before, .mc-carousel .overlay:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mc-carousel .overlay:after {
    background: rgba(26,26,26, 0.5);
    background-color: rgba(26,26,26, 0.5);
}

.mc-carousel .item:hover .overlay:after {
    opacity: 1;
}
.style_2 .models-category-content .post__wrap:hover .overlay, .mc-carousel .mc-carousel__content {
    background: rgba(5, 35, 60, 0.8);
}
.mc-carousel__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 30px 10px 36px;
    text-align: left;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -o-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
}
.mc-carousel .item:hover .mc-carousel__content {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.mc-carousel__title {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 12px;
}
.mc-carousel__title a {
    font-weight: 100;
    color: #fff;
}
.mc-carousel__parameters-block {
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.mc-carousel__parameters-block > div {
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
}
.mc-carousel__parameters-block > div > span {
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
.mc-carousel img {
    transform-style: preserve-3d;
}
.mc-carousel img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}
.ds-player-content {
    display: flex;
    justify-content: space-between;
}
.gdlr-result-by-player {
    align-content: stretch;
    display: inline-flex;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    padding: 0;
    width: calc(100% - 380px);
    align-items: start;
    justify-content: center;
}
.gdlr-result-top-scores {
    display: inline-flex;
    width: 350px;
}